.element {
  background-color: violet;
  display: flex;
  flex-direction: row;
}
.textEditor-bar{
  display: flex;
  flex-direction: row;
}
.textEditor{
  color: white;
  background-color: CornflowerBlue;
  display: flex;
  flex-direction: row;
  width: 500px;
  height: 80%;
  padding: 5px 5px 5px 5px;
}

.textEditor-button {
  color: DarkViolet;
  display: block;
  background-color: DarkSalmon;
  border-radius: 10px;
  width: 30px;
}