
.element {
  background-color: violet;
  display: flex;
  flex-direction: row;
}
.core-buttons{
  width: 30px;
}
.listing-icon {
  background-color: blue;
  border-radius: 30px;
  height: 60px;
  width: 60px;
  padding: 10px 0px 10px 10px;
}
.listing-description {
    background-color: blueviolet;
    border-radius: 30px;
    margin-left: 15px;
}
.rightContainer{
  width: 640px;
  height: 400px;
}
.viewer {
  background-color: violet;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.logger {
  background-color: violet;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.browser {
  background-color: violet;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.watcher {
  background-color: violet;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

  .listing-heading {
    color: white;
    display: block;
  }
  .listing-name {
    color: greenyellow;
    display: block;
  }
  .listing-image {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 10px 10px 10px 10px;
  }
  .core-buttons-refresh{
    width: 30px;
    background-color: whitesmoke;
    -webkit-mask: url('/assets/refresh-cw.svg') no-repeat center;
    mask: url('/assets/refresh-cw.svg') no-repeat center;
  }
  .core-buttons-refresh2{
    width: 30px;
    filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
  }
