

.actions{
    list-style-type: none;
    border-bottom: solid 1px #8b8b8b;
    padding: 8px 0;
    width: 400px;
    display: flex;
    flex-direction: column;
}
p{ margin: 0px;}
.inputLabel{
    width: fit-content;
}
.button {
    padding: 10px;
    border: solid 1px var(--primary-color);
    background: var(--primary-color);
    color: white;
    border-radius: 8px;
    /* transition-duration: 0.4s; */
}
.button:hover {
    padding: 10px;
    border: solid 1px var(--primary-color);
    background: var(--secondary-color);
    color: black;
    border-radius: 8px;
}