
.element {
    background-color: violet;
    display: flex;
    flex-direction: row;
  }
  .listing-icon {
    background-color: blue;
    border-radius: 30px;
    height: 60px;
    width: 60px;
    padding: 10px 0px 10px 10px;
  
  }
  .listing-description {
      background-color: blueviolet;
      border-radius: 30px;
  
      margin-left: 15px;
    }
    .listing-heading {
      color: white;
      display: block;
    }
    .listing-name {
      color: greenyellow;
      display: block;
    }
    .listing-image {
      height: 50px;
      width: 50px;
      object-fit: cover;
      border-radius: 10px 10px 10px 10px;
    }
    
  